'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'j': 'vim-mode-plus:move-down-screen'
  'k': 'vim-mode-plus:move-up-screen'
  'g j': 'vim-mode-plus:move-down'
  'g k': 'vim-mode-plus:move-up'
'atom-text-editor.vim-mode-plus.normal-mode':
  'left': 'vim-mode-plus:previous-tab'
  'right': 'vim-mode-plus:next-tab'
  ', left': 'window:focus-pane-on-left'
  ', down': 'window:focus-pane-below'
  ', up': 'window:focus-pane-above'
  ', right': 'window:focus-pane-on-right'
  ', h': 'window:focus-pane-on-left'
  ', j': 'window:focus-pane-below'
  ', k': 'window:focus-pane-above'
  ', l': 'window:focus-pane-on-right'
  ', p': 'window:focus-previous-pane'
  ', w': 'window:focus-next-pane'
  ', s': 'pane:split-down-and-copy-active-item'
  ', v': 'pane:split-right-and-copy-active-item'
  ', c': 'pane:close'
  ', =': 'vim-mode-plus:equalize-panes'
  ', x': 'vim-mode-plus:exchange-pane'
  ', z': 'vim-mode-plus:maximize-pane'
  ', i': 'window:toggle-invisibles'
  ', q': 'core:close'
'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.operator-pending-mode)':
  'space': 'vim-mode-plus:toggle-fold'
'atom-text-editor[data-grammar~="latex"]':
  'ctrl-alt-s': 'unset!'
  'ctrl-alt-v': 'latex:sync'
'atom-workspace':
  'ctrl-alt-m': 'unset!'
  'ctrl-alt-l': 'latex-tree:toggle-tree-view'
