"*":
  "atom-clock":
    dateFormat: "HH:mm"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    useKite: false
  "base16-syntax":
    scheme: "Ocean"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "tool-bar"
    ]
    projectHome: "/home/daniel/packages"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
  editor:
    preferredLineLength: 79
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "8e273645-338a-453a-a9d9-254e9ee6de72"
  "julia-client":
    firstBoot: false
    uiOptions: {}
  latex:
    buildOnSave: true
    cleanPatterns: [
      "**/*.aux"
      "**/*.aux.bak"
      "**/*.bbl"
      "**/*.bcf"
      "**/*.blg"
      "**/*.dvi"
      "**/*.fdb_latexmk"
      "**/*.fls"
      "**/*.idx"
      "**/*.idx.bak"
      "**/*.ilg"
      "**/*.ind"
      "**/*.lof"
      "**/*.log"
      "**/*.lol"
      "**/*.lot"
      "**/*.nav"
      "**/*.out"
      "**/*.pdf"
      "**/*.ps"
      "**/*.snm"
      "**/*.synctex.gz"
      "**/*.toc"
      "/**/_minted-{jobname}"
      "/{output_dir}/sage-plots-for-{jobname}.tex"
      "/missfont.log"
      "/texput.log"
      "/texput.aux"
      "**/*Notes.bib"
      "**/*.run.xml"
    ]
    enableExtendedBuildMode: false
    openResultAfterBuild: false
    opener: "zathura"
    zathuraPath: "/home/daniel/bin/zathura"
  latexer:
    autocomplete_environments: false
    parameters_to_search_citations_by: [
      "key"
      "author"
      "year"
      "title"
    ]
  "linter-chktex":
    chktexArgs: [
      "-wall"
      "-n22"
      "-n30"
      "-e16"
      "-n1"
      "-n8"
      "-n9"
      "-n10"
      "-n17"
      "-n21"
    ]
  "linter-pylama":
    ignoreErrorsAndWarnings: "D203,D212,D213,D404,D100,D103,E265"
    useIsort: true
  "linter-ui-default":
    panelHeight: 120
    showPanel: true
  minimap:
    moveCursorOnMinimapClick: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-light-ui":
    fontSize: 14
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#073642"
        blue: "#268bd2"
        cyan: "#2aa198"
        green: "#859900"
        magenta: "#d33682"
        red: "#dc322f"
        white: "#eee8d5"
        yellow: "#b58900"
      zBright:
        brightBlack: "#002b36"
        brightBlue: "#839496"
        brightCyan: "#93a1a1"
        brightGreen: "#586e75"
        brightMagenta: "#6c71c4"
        brightRed: "#cb4b16"
        brightWhite: "#fdf6e3"
        brightYellow: "#657b83"
    core:
      mapTerminalsTo: "Folder"
      mapTerminalsToAutoOpen: true
    style:
      animationSpeed: 0
      theme: "solarized-dark"
    toggles:
      autoClose: true
  "relative-numbers":
    softWrapsCount: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "uber-juno":
    disable: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".latex.tex.text":
  editor:
    softWrap: true
