'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'j': 'vim-mode-plus:move-down-screen'
  'k': 'vim-mode-plus:move-up-screen'
  'g j': 'vim-mode-plus:move-down'
  'g k': 'vim-mode-plus:move-up'
'atom-text-editor.vim-mode-plus.normal-mode':
  'left': 'vim-mode-plus:previous-tab'
  'right': 'vim-mode-plus:next-tab'
  ', left': 'window:focus-pane-on-left'
  ', down': 'window:focus-pane-below'
  ', up': 'window:focus-pane-above'
  ', right': 'window:focus-pane-on-right'
  ', h': 'window:focus-pane-on-left'
  ', j': 'window:focus-pane-below'
  ', k': 'window:focus-pane-above'
  ', l': 'window:focus-pane-on-right'
  ', p': 'window:focus-previous-pane'
  ', w': 'window:focus-next-pane'
  ', s': 'pane:split-down-and-copy-active-item'
  ', v': 'pane:split-right-and-copy-active-item'
  ', c': 'pane:close'
  ', =': 'vim-mode-plus:equalize-panes'
  ', x': 'vim-mode-plus:exchange-pane'
  ', z': 'vim-mode-plus:maximize-pane'
  ', i': 'window:toggle-invisibles'
  ', q': 'core:close'
'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.operator-pending-mode)':
  'space': 'vim-mode-plus:toggle-fold'
# 'body atom-text-editor.autocomplete-active':
#   'tab': 'autocomplete-plus:move-down'
#   'shift-tab': 'autocomplete-plus:move-up'
#   'down': 'autocomplete-plus:move-down'
#   'up': 'autocomplete-plus:move-up'
# '.select-list atom-text-editor[mini]':
#   'tab': 'core:move-down'
#   'shift-tab': 'core:move-up'
# '.corrections atom-text-editor[mini]':
#   'tab': 'core:move-down'
#   'shift-tab': 'core:move-up'
